@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    /* Colores */
    
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
    
    /* Tamaño fuentes */
    
    --Fs-default: 14px;
    
    /* Font Weights */
    
    --fw-normal: 400;
    --fw-semiBold: 600;
    --fw-bold: 700;
    
    
    }

*{
    box-sizing: border-box;
}

body{
    background-color: var(--Off-Black);
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
}

p, h2{
   color: var(--White);
}

img{
    border-radius: 100px;
}

/* esto es una prueba! */

.container-todo{
    background-color: var(--Dark-Grey);
    width: 400px;
    height: 620px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15%;
}


.container-todo .nombre-jessica{
    margin: 10px;
}

.container-todo .london{
    color: var(--Green);
    font-weight: var(--fw-semiBold);
    margin-top: 0;
    margin-bottom: 30px;
}

.container-todo .descripcion{
    color: var(--White);
    margin: 0;
}

.botones p{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    color: var(--White);
    background-color: var(--Grey);
    border-radius: 10px;
    width: 350px;
    height: 40px;
    text-align: center;
    padding-top: 0.7rem;
    font-weight: var(--fw-bold);
    transition: 0.3s
    }

    .botones p:hover{
        background-color: var(--Green);
        color: var(--Off-Black);
    }
    
    /* MEDIA QUERY */

    @media (max-width: 375px){
        .container-todo{
        width: 80%;
        margin: 90px auto;
       }

       .botones p{
        width: 270px;
       }
       
    }

   @media (min-width: 1440px){
        .container-todo {

        }
   }

   